{% if varnish_enabled == true %}
{% for vhost in nginx_vhosts %}
server {
{% if vhost.listen == '80' %}
  {% set vhost_listen = 8080 %}
  listen {{ vhost_listen }};
{% else %}
    listen {{ vhost.listen | default('8080 default_server') }};
{% endif %}

{% if vhost.server_name is defined %}
    server_name {{ vhost.server_name }};
{% endif %}

{% if vhost.root is defined %}
    root {{ vhost.root }};
{% endif %}

    index {{ vhost.index | default('index.html index.htm') }};

{% if vhost.error_page is defined %}
    error_page {{ vhost.error_page }};
{% endif %}
{% if vhost.access_log is defined %}
    access_log {{ vhost.access_log }};
{% endif %}
{% if vhost.error_log is defined %}
    error_log {{ vhost.error_log }} error;
{% endif %}

{% if vhost.return is defined %}
    return {{ vhost.return }};
{% endif %}

{% if '443' in vhost.listen %}
{% if vhost.extra_parameters is defined %}
    {{ vhost.extra_parameters|indent(4) }}
{% if 'return 301' not in vhost.extra_parameters %}
    location / {
    proxy_http_version 1.1;
    proxy_set_header Connection "";
    proxy_pass http://127.0.0.1;
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto https;
    proxy_set_header X-Forwarded-Port 443;
}
{% endif %}
{% endif %}
{% else %}
{% if vhost.extra_parameters is defined %}
    {{ vhost.extra_parameters|indent(4) }}
{% endif %}
{% endif %}

{% if vhost.listen == '80' or vhost.listen == '8080' %}
{% if vhost.extra_parameters is not defined %}
    set $MAGE_ROOT {{ site_root }};
    include /etc/nginx/conf.d/{{ domain }};
{% endif %}
{% endif %}
{% if vhost.listen == '80' or vhost.listen == '8080' %}
{% if vhost.extra_parameters is defined %}
{% if 'return 301' not in vhost.extra_parameters %}
    set $MAGE_ROOT {{ site_root }};
    include /etc/nginx/conf.d/{{ domain }};
{% endif %}
{% endif %}
{% endif %}
}
{% endfor %}
{% endif %}


{% if varnish_enabled == false %}
{% for vhost in nginx_vhosts %}
server {
    listen {{ vhost.listen | default('80 default_server') }};

{% if vhost.server_name is defined %}
    server_name {{ vhost.server_name }};
{% endif %}

{% if vhost.root is defined %}
    root {{ vhost.root }};
{% endif %}

    index {{ vhost.index | default('index.html index.htm') }};

{% if vhost.error_page is defined %}
    error_page {{ vhost.error_page }};
{% endif %}
{% if vhost.access_log is defined %}
    access_log {{ vhost.access_log }};
{% endif %}
{% if vhost.error_log is defined %}
    error_log {{ vhost.error_log }} error;
{% endif %}

{% if vhost.return is defined %}
    return {{ vhost.return }};
{% endif %}

{% if vhost.extra_parameters is defined %}
    {{ vhost.extra_parameters|indent(4) }}
{% endif %}

{% if '443' in vhost.listen %}
{% if vhost.extra_parameters is defined %}
{% if 'return 301' not in vhost.extra_parameters %}
    set $MAGE_ROOT {{ site_root }};
    include /etc/nginx/conf.d/{{ domain }};
{% endif %}
{% endif %}
{% endif %}
}
{% endfor %}
{% endif %}
